
@media only screen and (max-width:850px) {
    .navbar{
        padding: 0;
    }
    .navbar>ul {
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    .navbar>ul>li{
        margin: 30px auto;
    }
}